<ion-view id="goodsList" view-title="商品列表页" hide-back-button="true" cache-view="false">
  <!-- 头部搜索部分 -->
  <header id="header">
    <div class="header-left">
      <a href="javascript:history.back(-1)">
        <span></span>
      </a>
    </div>
    <div class="header-center">
      <span></span>
    </div>
    <div class="header-right">
      <span></span>
    </div>
  </header>
  <!-- 筛选导航部分 -->
  <nav id="nav">
    <div class="nav-all">综合</div>
    <div class="nav-warp">
      <ul>
        <li>11.11</li>
        <li>销量</li>
        <li>价格</li>
        <li>品牌</li>
        <li>新品</li>
        <li>服务</li>
      </ul>
    </div>
  </nav>
  <ion-content class="scroll-content">
    <!--ion-refresher组件要放在ion-content顶部-->
    <ion-refresher
      pulling-text="获取最新数据..."
      refreshing-text="刷新完毕"
      on-refresh="func_refreshGoodsList()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="item in gdata">
        最新上架商品ID{{item.id}}, 商品名称{{item.name}}
      </ion-item>
    </ion-list>
    <!--ion-infinite-scroll组件要放在ion-content底部-->
    <ion-infinite-scroll
      ng-if="isloadmore"
      icon="ion-load-c"
      on-infinite="loadMoreData()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
